* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-family: "Josefin Sans";
}
:root {
    --color-dark-divs: rgba(82, 82, 82, 0.904);
    --color-dark-text: rgb(248, 248, 248);
    --color-normal-text: black;
    --color-normal-divs: rgba(32, 77, 161, 0.87);
    --degradado-1: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(48, 48, 48, 0.568),
    rgba(43, 43, 43, 0)
    );
    --color-dark-divs-opacity: rgb(82, 82, 82);
}
html {
    scroll-behavior: smooth;
    scrollbar-color: rgb(192, 192, 192) var(--color-dark-divs-opacity);
    scrollbar-width: thin;
}
body{
    width: 100%;
    height: 650vh;
    overflow-x: hidden;
    overflow-block: scroll;
}
#background{
    width: 100%;
    position: fixed;
    z-index: -1;
}
#lupa{
    filter: brightness(100);
    width: 2vw;
    margin-right: -3.2vw;
  }
  header{
    background-color: rgba(61, 61, 61, 0.445);
    position: fixed;
    gap:2vw;
    align-items: center;
    display: flex;
    width: 100%;
    height: 12vh;
    padding-top: 1vh;
    backdrop-filter: blur(50px);
    z-index: 2;
    overflow: hidden;
    }
    #quick_acces{
      position: fixed;
      margin-top: 12vh;
      border-radius: 0 0 2vw 2vw;
      backdrop-filter: blur(20px);
      margin-left: 89vw;
      background-color: rgba(51, 51, 51, 0.493);
      width: 5vw;
      height: 4vw;
      padding-top: 1vh;
      overflow: hidden;
      z-index: 2;
      transition-duration: .5s;
    }
    #quick_acces ul{
      display: flex;
      flex-direction: column;
      margin-left: 1.4vw;
      gap: 3vh;
    }
    .text-list{
      font-size: 2vw;
      color: white;
      transition-duration: 1s;
    }
    .text-list:hover{
      scale: 1.1;
      transition-duration: .5s;
    }
    #quick_acces:hover{
      transform: translate(-17.5vw);
      width: 22.5vw;
      height: 50vh;
      padding-left: 1vw;
    }
    #quick_acces:hover #barras{
    margin-left: 2.5vw;
    opacity: 1;
    scale: 1.1;
    transform: translate(13.2vw);
    }
    #barras{
      margin-left: 1.3vw;
      margin-top: -1vh;
      width: 2.5vw;
      cursor: pointer;
      margin-bottom: 1vw;
      transition-duration: .5s;
      opacity: .5;
    }
    #Registrate-Clientes{
  scroll-margin-top: 17vh;
    }
  #Logo {
    margin-left: 2.5vw;
  }
  #Logo img {
    width: 5vw;
    border: 0px black solid;
    transition-duration: 1s;
  }
  #Logo img:hover {
    scale: 1.1;
  }
  Nav input {
    width: 49.2vw;
    height: 7vh;
    margin-left: 2.5vw;
    margin-right: -1vw;
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(255, 255, 255, 0.24);
    background-color: rgba(0, 0, 0, 0);
    font-size: 2vw;
    padding-left: 1.8vw;
    transition-duration: 0.5s;
    transition-delay: 0ms;
    font-weight: 400;
    color: white;
  }
  Nav input::placeholder{
    color: rgba(255, 255, 255, 0.726);
    font-weight: 400;
  }
  nav input:hover {
    box-shadow: 0 0 20px black;
    scale: 1.05;
    transition-delay: 0.25s;
  }
  nav input:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px black;
    scale: 1.05;
    color: black;
    font-size: 1.5vw;
    transition-delay: 0s;
    font-weight: 300;
    &::placeholder {
      color: rgba(0, 0, 0, 0.753);
    }
  }
  #Contact img {
  
    opacity: .5;
    margin-left: 1vw;
    width: 4vw;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  #Contact img:hover {
    scale: 1.15;
  }
  #Contact {
    padding-right: 1vw;
    border-inline: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.267);
  }
  #User{
    border-inline: solid;
    border: none;
  }
  #User img {
    filter: brightness(100);
    opacity: .5;
    width: 4vw;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  #User img:hover {
    scale: 1.15;
  }
  #Producctos{
    padding-inline: 1vw;
    border-inline: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.267);
  }
  #Producctos img {
    filter: invert()  ;
    opacity: .5;
    width: 4vw;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  #Producctos img:hover {
    scale: 1.15;
  }
  #Cursoss{
    border-inline: solid;
    border: none;
  }
  #Cursoss img {
    filter: invert();
    opacity: .5;
    width: 4vw;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  #Cursoss img:hover {
    scale: 1.15;
  }
  #About img {
    opacity: .5;
    margin-left: 2vw;
    width: 3.9vw;
    transition-duration: 0.5s;
    cursor: pointer;
    
  }
  #About img:hover {
    scale: 1.15;
  }
  
  #us {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
main{
    width: 100%;
    height: 650vh;
    background-color: rgba(255, 255, 255, 0);
}
#content{
    width: 100%;
    height: 102vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#division1{
  scroll-margin-top: 20vh;
    width: 80%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.911);
    backdrop-filter: blur(7px);
    padding: 10vh;
    box-shadow: 0 0 20px;
    display: flex;}
.title{
    font-size: 4.6vw;
    color: rgb(255, 255, 255);
}
#img1{
    width: 30vw;
    margin-left: 8vw;
    box-shadow: 0 0 20px;
    overflow: hidden;
    background-image: url(./../Imagenes/vantana.jpg);
background-size: cover;
}
#img1 img{
    width: 30vw;
    background: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
#art1{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30vw;
}
.just-text{
    font-size: 1.7vw;
    margin-top: 5vh;
    color: rgb(165, 165, 165);
}
#horizontal-divs1{
  scroll-margin-top: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;

}
.left{
margin-bottom: 5vw;
    margin-top: 7vh;
    width: 40vw;
    height: 80vh;
    background-color: rgba(51, 51, 51, 0.897);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 20px;
    display: flex;
    flex-direction: column;
    padding: 5vh;
}    
.right{
margin-bottom: 5vw;
    margin-top: 7vh;
    width: 34vw;
    height: 80vh;
    background-image: url(https://media.istockphoto.com/id/1357830750/vector/geometric-illustration-of-multi-coloured-human-figures.jpg?s=612x612&w=0&k=20&c=2uvkAa8B9pyBcMbMUoE6zQVXPrNAz8Tdysdfq8G3oKM=);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 30px;
    display: flex;
    padding: 10vh;
    opacity: .95;
}  
.right2{
    margin-bottom: 5vw;
        margin-top: 7vh;
        width: 34vw;
        height: 80vh;
        background-image: url(./../Imagenes/questionmark.png);
        backdrop-filter: blur(7px);
        box-shadow: 0 0 30px;
        display: flex;
        padding: 10vh;
        opacity: .95;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right2 img{
    width: 150vw;
    height: 180vh;
    margin-top: 5vh;
        }
span{
    font-size: 3vw;
    color: rgb(255, 255, 255);
}
a{
  color: rgba(253, 253, 253, 0);
}
#Pianohacks_future{
  width: 80vw;
  height: 80vh;
  background-color: rgba(51, 51, 51, 0.897);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 8vh;
}
#futuro{
scroll-margin-top: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}
#Evolucion{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    scroll-margin-top: 15vh;
}
#Evo{
  background-color: rgba(51, 51, 51, 0.897);
  width: 80%;
  height:360vh;
  margin-bottom: 10vh;
  padding: 10vh 5vw;
  display: flex;
  flex-direction: column;

}
#_2021{
  display: flex;
  gap: 5vw;


}
#_2021 div{
  width: 35vw;
  display: flex;
  flex-direction: column;
align-items: center;
}
#_2021 img{
  width: 30vw;
  box-shadow: 0 0 20px;
}
#_2022{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
#_2022 div{
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#_2022 img{
  width: 30vw;
  box-shadow: 0 0 20px;
}

#_2023{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
#_2023 div{
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#_2023 img{
  width: 30vw;
  box-shadow: 0 0 20px;
}

#_2024{
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
#_2024 div{
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#_2024 img{
  width: 40vw;
  box-shadow: 0 0 20px;
}
footer {
  margin-top: 15vh;
  width: 100%;
  height: 24vh;
  display: flex;
  align-items: center;
  background-color: black;
}
#About_us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16vw;
  height: 10vh;
  margin-left: 30vw;
  margin-right: 5vw;
}
#acerca_de_ {
  font-size: 2rem;
  font-weight: 300;
  color: white;
}
#lineaSimple2 {
  border: 0.5px solid white;
  height: 15vh;
}
#others {
  margin-left: 4vw;
}
#Copyright {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}
#linkacercade:hover {
  scale: 1.05;
  color: rgba(255, 255, 255, 0.527);
}
#linkacercade {
  width: 10vw;
  transition-duration: 0.5s;
}
