* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "Josefin Sans";
}
:root {
  --color-dark-divs-opacity: rgb(82, 82, 82);
}
html {
  scroll-behavior: smooth;
  scrollbar-color: rgb(192, 192, 192) var(--color-dark-divs-opacity);
  scrollbar-width: thin;
}
body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-block: scroll;
}
#background{
  width: 100%;
  position: fixed;
  z-index: -1;
}
header {
  backdrop-filter: blur(50px);
  /* background-color: var(--color-dark-divs); */
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  justify-content: start;
  position: fixed;
  z-index: 1;
}
#Logo {
  margin-left: 2.5vw;
}
#Logo img {
  width: 5vw;
  border: 0px black solid;
  transition-duration: 1s;
}
#Logo img:hover {
  scale: 1.1;
}
Nav input {
  width: 65vw;
  height: 7vh;
  margin-inline: 0.5vw;
  border-radius: 1px;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(255, 255, 255, 0.24);
  background-color: rgba(0, 0, 0, 0);
  font-size: 2vw;
  padding-left: 1.8vw;
  transition-duration: 0.5s;
  transition-delay: 0ms;
}
nav input:hover {
  box-shadow: 0 0 20px black;
  scale: 1.05;
  margin-inline: 2vw;
  transition-delay: 0.25s;
}
nav input:focus {
  background-color: white;
  box-shadow: 0 0 20px black;
  scale: 1.05;
  margin-inline: 2vw;
  font-size: 1.5vw;
  transition-delay: 0s;
  font-weight: 100;
}
nav {
margin-right: -30px;
}
#Contact img {
  margin-left: 1vw;
  width: 4vw;
  transition-duration: 0.5s;
  cursor: pointer;
}
#Contact img:hover {
  scale: 1.15;
}
#Contact {
  padding-left: 1vw;
  padding-right: 1.8vw;
  border-right: double;
  border-width: 5px;
  border-color: rgba(0, 0, 0, 0.267);
}
#About img {
  margin-left: 2vw;
  width: 3.9vw;
  transition-duration: 0.5s;
  cursor: pointer;
}
#About img:hover {
  scale: 1.15;
}
#us {
  display: flex;
  align-items: center;
}
main{
  width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 20vh;
}
.gray-box{
  background-color: rgba(44, 44, 44, 0.932);
  backdrop-filter: blur(20px);

}
#Clientes{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}
.title{
  color: white;
  font-size: 5vw;
  text-align: center;
}
.line{
  border: solid rgba(0, 0, 0, 0.418) 1px;
}
#beneath_title{
  width: 80%;
}
#Clientes section{
  width: 100%;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
section img{
  width: 50vw;
}
#Isabel{
width: 100%;
padding-left: 4vw;
display: flex;
align-items: center;
}
#Maria{
width: 100%;
padding-left: 4vw;
display: flex;
align-items: center;
}
#Carlos{
width: 100%;
padding-left: 4vw;
display: flex;
align-items: center;
}
#Ana{
width: 100%;
padding-left: 4vw;
display: flex;
align-items: center;
}
#Anaa:hover{
  width: 49.3vw;
  display: flex;
  align-items: center;
}
.Imagenes_clientes{
  width: 25vw;
  height: 45vh;
  overflow: hidden;
  border: 1px solid white;
  transition-duration: .5s;
  border-radius: 1vw;
}
.Imagenes_clientes:hover{
  width: 50vw;
  transition-duration: 1s;
  border-radius: 1vw 0vw 0vw 1vw;
  cursor: zoom-in;
}
.texto{
  margin-left: 1vw;
  font-size: 2vw;
  width: 15vw;
  margin-block: 4vh;
  color: white;
  text-align: center;
}
footer {
  width: 100%;
  height: 24vh;
  display: flex;
  align-items: center;
  background-color: black;
}
#About_us {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16vw;
  height: 10vh;
  margin-left: 30vw;
  margin-right: 5vw;
}
#acerca_de_ {
  font-size: 2rem;
  font-weight: 300;
  color: white;
}
#lineaSimple2 {
  border: 0.5px solid white;
  height: 15vh;
}
#others {
  margin-left: 4vw;
}
#Copyright {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}
#linkacercade:hover {
  scale: 1.05;
  color: rgba(255, 255, 255, 0.527);
}
#linkacercade {
  width: 10vw;
  transition-duration: 0.5s;
  color: rgba(255, 255, 255, 0);
}
